@media screen and (max-width: 1400px)
   .nav 
      .btn
         padding: 0 10px
   .header__bg
      left: -270px
   .games__item:nth-child(3)
      margin-left: 4.3%
   .main .sub
      margin-right: 50px
   .item .sub
      margin-right: 50px
   .contacts .sub
      margin-right: 50px
   .main__pic
      width: 80%
   .main .sub:after 
      left: -603px
      width: 528px
   .art__top
      max-width: 1055px
   .art .rev__nav
      right: 0
@media screen and (max-width: 1300px)
   .header__bg 
      left: -395px
   .nav__list
      max-width: 564px
   .nav__tel
      display: none
   .art__top
      max-width: 973px
   .swiper4  
      width: 1300px
   .faq .tabs__content
      max-width: 80%
   .faq__box:before
      left: -483%
@media screen and (max-width: 1199px)
   .sub 
      display: none
   .menu-btn 
      width: 48px
      height: 26px
      position: absolute
      right: 26px
      top: 46px
      z-index: 11
      overflow: hidden
      background: url(/img/bur.svg) no-repeat center center
   .menu-btn span 
      width: 38px
      height: 2px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: white
      transition: all 0.5s
      margin-left: 5px
   .menu-btn span:nth-of-type(2) 
      top: calc(50% - 8.5px)
      width: 48px
      height: 2px
      margin-left: 0
   .menu-btn span:nth-of-type(3) 
      top: calc(50% + 9.4px)
      width: 24px
      height: 2px
      margin-left: 12px
   .menu 
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 40px 
      background: white
      transform: translateX(-100%)
      transition: transform 0.5s
      z-index: 10
      overflow: hidden
      .nav__socials
         display: flex
         a 
            .svg 
               width: 40px
               height: 40px
      .nav__list
         display: block
         margin: 48px 0 105px
         li
            margin-bottom: 20px
            a 
               font-size: 28px
            &:last-child
               margin-bottom: 0
      .nav__list .active a
         text-decoration: underline
      .nav__tel 
         display: block
         font-size: 28px
         margin-top: 24px
   .menu.active
      transform: translateX(0)
   .menu-btn.active 
      overflow: visible
      position: fixed
      right: 30px
      top: 30px
      background: url(/img/bur2.svg) no-repeat center center
   .menu-btn.active span:nth-of-type(1) 
      display: none
   .menu-btn.active span:nth-of-type(2) 
      top: 50%
      width: 24px
      transform: translate(-50%, 0%) rotate(45deg)
      margin-left: 0
   .menu-btn.active span:nth-of-type(3) 
      width: 24px
      top: 50%
      transform: translate(-50%, 0%) rotate(-44deg)
      margin-left: 0
   .menu-btn, .menu
      display: block
   .header__bg
      left: 0
      margin-top: 40px
      width: 100%
   .nav__list, .header__info
      display: none
   .nav .btn, .nav__socials
      display: none
   .header__flex 
      flex-direction: column
      align-items: center
   .header__content 
      width: auto
      height: auto
      background: transparent
      padding: 0
      left: 0
      margin-top: 64px
   h1 
      color: $blue
      width: 80%
   .header__text
      color: $blue
   .header__btn
     background: $blue
     color: white
   .item__el img 
      width: 550px
      height: auto
      object-fit: cover
   .online
      display: none
   .contacts__box
      flex-direction: column
      align-items: center
   .contacts__pic
      margin-left: 0
      margin-top: 0
      width: 100%
   .contacts__content
      margin-top: 0
      display: flex
      flex-wrap: wrap
      justify-content: space-between
   .contacts h2
      margin-bottom: 40px
      width: 100%
   .contacts__item
      width: 46%
   .per__box:before, .cont__sub
      display: none
   .cont .contacts__box 
      padding-left: 0
      margin-top: 40px
   .cont .contacts__box h2
      width: 100%
      margin-bottom: 40px
   .blog .contacts__box:before
      display: none
   .blog h1
      margin-bottom: 45px
   .blog .contacts__box
      max-width: 100%
   .art .swiper3 
      width: 100%
      max-width: 100%
   .art .blog__content
      width: 100%
   .art .swiper3 .swiper-slide
      img 
         width: 100%
         height: 100%
         object-fit: cover
   .art h1
      margin-bottom: 0 !important
   .art__top
      margin-bottom: 24px
   .art__content
      max-width: 100%
   .art__bottom
      max-width: 100%
      margin-top: 40px
   .art__time
      margin-top: 90px
   .art .rev__nav
      top: 591px
      width: 100%
      max-width: 100%
   .swiper4
      width: 100%
   .swiper4 .swiper-slide:last-child
      opacity: 1 
      pointer-events: inherit
   .fil .contacts__box:before
      display: none
   .fil .games__wrap
      margin-bottom: 60px
   .author 
      .contacts__content
         width: 100% 
   .author .contacts__box:before 
      display: none
   .faq__box
      flex-direction: column-reverse
   .faq__box:before
      display: none
   .faq .tabs__content
      max-width: 100%
   .faq .tabs__nav
      margin-top: 0
      flex-direction: inherit
      justify-content: flex-start
      position: absolute
      top: 155px
      left: 0
      a 
         margin-bottom: 0
         margin-right: 24px
   .faq h1
      margin-bottom: 120px
   .order__info
      margin-bottom: 40px
@media ( max-width: 991px )
   input, textarea, select
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
   input 
      border-radius: 0 !important
   .header__content
      margin-top: 50px
   .games__item
      width: 100%
      margin: 0 auto 40px !important
      right: 0 !important
   .games__wrap
      margin-top: 40px
   .games h2 
      margin: 20px 0 0 0px
   .main__block
      position: absolute
      top: 85px
      left: 0
      margin: 0
      display: flex
      flex-direction: column-reverse
      text-align: left
   .games
      padding: 50px 0
   .main__wrap
      margin-top: 0
   .main 
      position: relative
      padding: 50px 0 64px
      &__box 
         position: relative
   .main__pic 
      width: 100%
      height: 300px
   h2 
      font-size: 48px
   .main__top 
      justify-content: flex-start
      margin-bottom: 0
      margin-top: 24px
      img 
         display: none
      p 
         margin-left: 0
   .main h2
      margin-bottom: 400px
   .main__text
      max-width: 100%
   .item__el
      flex-direction: column
      margin-bottom: 69px
      &:nth-child(2n)
         flex-direction: column-reverse
      img 
         width: 100%
   .item__wrap
      margin-top: 0
      width: 100%
   .item h2
      margin-bottom: 40px
   .item__content 
      width: 100%
      margin-left: 0
      margin-top: 24px
   .item__block
      width: 100%
   .rev__nav
      max-width: 100%
   .rev__content
      margin-top: 0
   .rev
      padding: 64px 0
      h2 
         margin-bottom: 40px
   .rev .swiper2 .swiper-slide
      min-height: auto
   .contacts
      padding: 80px 0
   .footer__box
      padding-right: 0
   .footer__bottom
      padding-right: 0
   .thank .per__box
      margin-left: 0
   .blog__item
      width: 100% !important
   .blog__item:first-child .blog__time, .blog__item:last-child .blog__time 
      position: relative
      top: 0
      right: 0
   .blog__item:first-child .blog__link, .blog__item:last-child .blog__link
      margin-top: 0
   .blog .bread
      margin-bottom: 32px
   .blog__info
      padding: 24px 16px 24px
   .blog__pic
      height: 220px
   .art__top
      flex-direction: column
      align-items: flex-start
      a 
         margin-top: 24px
   .art h1
      width: 70%
   .art .rev__nav
      top: 567px
   .cat .games__item
      width: 100%
   .author .cat__ser
      margin-top: 50px
   .author
      .rev__nav
         max-width: 208px
      .swiper4 .swiper-slide:last-child
         opacity: 0
         pointer-events: none
   .author .swiper4
      height: 350px
      width: 1000px
   .faq .accordeon__button
      padding-right: 90px
   .order__form .popup__flex
      flex-direction: column-reverse
   .order__form
      .popup__flex label
         margin-bottom: 0
         margin-top: 24px
      .popup__btn
         width: 100%
         height: 56px
         font-size: 20px
         text-transform: none
@media screen and (max-width: 767px)
   h1 
      font-size: 40px
   .games__pic
      height: 300px
   .games__name
      font-size: 28px
   .header
      padding-bottom: 80px
   .rev__video
      margin-top: 65px
   .footer__box
      flex-direction: column
      align-items: center
      text-align: center
   .footer__bottom
      flex-direction: column
      p 
         margin: 40px 0
   .footer__logos
      justify-content: center
      order: 2
   .footer__logo
      order: 1
   .footer__item
      order: 2
      margin: 40px 0
   .footer 
      .nav__socials
         display: flex
         justify-content: center
      &__info 
         order: 3
      &__content 
         order: 4
         display: flex
         flex-direction: column
   .footer__tel
      margin-bottom: 17px
   .contacts__name
      font-size: 30px
   .popup
      width: 93%
      padding: 48px 16px 57px
   .popup__title
      font-size: 40px
   .popup__form label
      font-size: 24px
   .popup__form input
      font-size: 16px
   .per h1
      margin-left: 0
   .per .popup__form
      max-width: 100%
   .art .rev__nav 
      top: 478px
   .cat .accordeon__button, .author .accordeon__button
      font-size: 24px
      line-height: 120%
      padding-right: 100px
   .author .swiper4
      width: 800px
   .order__form .popup__item
      width: 100%
   .order__form .popup__flex
      margin-top: 0
      width: 100% 
      align-items: flex-start
@media screen and (max-width: 576px)
   button:active, button:focus 
      outline: none
   button::-moz-focus-inner 
      border: 0
   a:active, a:focus
      outline: none
   input, textarea
      outline: none
   input:active, textarea:active
      outline: none
   input:focusout
      outline: none
   .mm 
      flex-direction: column 
      align-items: center
      justify-content: center
      li 
         margin-bottom: 40px !important
         width: 100% !important
         margin-top: 0 !important
   .mob 
     display: block 
   .header__text
      font-size: 16px
      margin: 18px 0 35px
   .menu-btn
      right: 16px
      top: 38px
   .del
      display: none
   h1 
      font-size: 56px
      line-height: 100%
   .header__content
      width: 100%
      margin-top: 23px
   .gm 
      font-size: 20px
      font-style: normal
      font-weight: 500
      margin-top: 31px
   .menu
      padding: 40px 20px
   .header__btn
      position: absolute
      bottom: -86px
      left: 0
      width: 192px
      height: 52px
   .header__wrap
      position: relative
   .header__content
      position: inherit
   .header .swiper-pagination1
      display: none
   .header__bg
      margin-top: 0
   .header__nav 
      justify-content: space-between
      width: 91%
      margin: 0 auto
      margin-top: -115px
      position: relative
      z-index: 5
   .header__arr
      width: 40px
      .svg 
         width: 100%
   .header__mob 
      display: block
      color: #007CCA
      font-size: 18px
      font-style: normal
      font-weight: 500
      line-height: 120%
      position: relative
      text-align: center
      z-index: 2
      margin-top: 16px  
   .header .swiper1
      padding-bottom: 100px
   .header
      padding-bottom: 163px
   h2 
      font-size: 40px
   .games h2
      margin-top: 0
   .games 
      padding: 66px 0 50px
   .games__content
      width: 100%
   .games__pic
      height: 200px
      margin-bottom: 24px
   .games__name
      font-size: 24px
      margin-bottom: 19px
   .games__text
      font-size: 16px
      line-height: 130%
   .bttn div:nth-child(2)
      display: none
   .games__all
      margin-top: 8px
   .main__pic
      margin-top: 40px 
      width: 100%
      object-fit: cover
   .main__block
      width: 100%
      top: 80px
   .main 
      padding: 75px 0 64px
   .main__top p
      font-size: 20px
   .main h2
      margin-bottom: 433px
   .main__text
      font-size: 16px
      font-weight: 500
      line-height: 150%
      margin-bottom: 24px
   .main__text_last, .item__all
      display: none
   .main__btn
      margin-top: 40px
   .btn 
      height: 40px
   .item 
      padding: 78px 0 33px
      .btn 
         text-transform: none
         font-size: 16px
   .item__name
      font-size: 24px
      margin-bottom: 17px
   .item__text
      font-size: 16px
      margin-bottom: 29px
   .rev__text, .contacts__link
      font-size: 16px
      line-height: 150%
   .contacts__text
      font-size: 16px
      line-height: 130%
   .rev 
      .header__arr
         width: 64px
   .rev .swiper2 .swiper-slide
      height: auto
   .rev__video
      margin-top: 20%
   .contacts__item
      &_2
         text-align: right
   .contacts__pic
      height: 200px
      object-fit: cover
   .footer
      padding: 47px 0 46px
   .footer__item p
      font-size: 20px
   .footer__list li a
      font-size: 16px
   .footer__item
      margin: 40px 0 30px
   .footer__tel
      font-size: 16px
      margin-bottom: 25px
   .footer__content a
      font-size: 16px
   .page h1 
      font-size: 40px
      font-weight: 500
      line-height: 120%
   .per .popup__form
      margin-top: 160px
   .per__link
      font-size: 16px
   .per .popup__btn
      height: 56px
   .thank 
      padding-bottom: 80px
      &__btn 
         width: 223px
         height: 50px
   .cont 
      .contacts__name
         color: #007CCA
      .contacts__item
         &_1
            width: 100%
      .contacts__item_2
         text-align: left
      .contacts__content
         margin-bottom: 40px
   .menu-btn.active
      right: 16px
      top: 38px
   .blog__text
      font-size: 16px
      width: 100%
   .cont
      padding-bottom: 70px
   .art__time 
      margin-top: 0px
      position: absolute
      top: 117px
      right: 0
   .art .swiper3
      height: 260px
      .swiper-slide
         height: 100%
         img 
            height: 100%
   .art__content
      margin-top: 85px
   .art 
      .header__arr
         width: 65px
   .art .rev__nav
      top: 443px
   .art__text
      font-size: 16px
   .cat .tabs__nav a
      margin-right: 40px
   .cat h1
      margin-bottom: 40px
   .cat__content p
      font-size: 16px
   .cat .bttn
      display: none
   .cat .games__btn
      text-transform: none
      font-size: 16px
   .cat__faq
      margin-top: 70px
   .cat .accordeon__button, .author .accordeon__button
      padding: 40px 90px 40px 0
   .cat .accordeon .panel__text p, .author .accordeon .panel__text p
      font-size: 16px
      line-height: 150%
   .cat .accordeon__item:first-child .accordeon__button:after, .author .accordeon__item:first-child .accordeon__button:after
      top: 5px
   .cat__ser
      margin-top: 70px
   .cat, .author 
      .header__arr
         width: 65px
      .swiper4 
         overflow: visible
         height: 226px
         width: 608px
   .cat__ser .rev__nav
      left: 2px
   .author__text
      font-size: 16px
      line-height: 150%
   .author .rev__nav 
      max-width: 100%
   .cat .swiper4, .author .swiper4
      width: 100%
   .author .cat__ser
      width: 100%
   .faq .tabs__nav a
      font-size: 18px
   .faq .accordeon__button
      font-size: 24px
      padding: 40px 90px 40px 0
   .order__back
      margin-top: 40px
      text-transform: none
      font-size: 16px
   .order
      h1 
         width: 80% !important
         margin-bottom: 30px !important
   .order .popup__form label
      margin-bottom: 20px
@media screen and (max-width: 360px)
   .cat .tabs__nav a
      font-size: 16px
   .faq .tabs__nav
      overflow-x: auto
      max-width: 100% 
      a 
         white-space: nowrap

            